<h2>All URLS</h2>

<table>
  <tr>
    <th>ID</th>
    <th>source</th>
    <th>target</th>
    <th>created</th>
    <th>Action</th>
  </tr>
  <% @urls.each do |url| %>
  <tr>
    <td><%= url.id %></td>
    <td><a href="https://krx.pw/<%= url.source %>" target="_blank"><%= url.source %></a></td>
    <td><a href="https://<%= url.target %>" target="_blank"><%= url.target %></a></td>
    <td><%= url.created_at %></td>
    <td><a href="/url/<%= url.id %>/delete" onclick="confirm('Sure?')"><strong>Delete</strong></a></td>
  </tr>
  <% end %>
</table>